*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.logo{
    width: 70px;
    margin-left: 50px;
}

/* background */

.back-img{
    height: auto;
    width: 100%;
    border: 0px transparent ridge;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* music wolrd h1 */


.home-head h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    margin-left: 90px;
    font-size: 130px;
    color: orange;
    position: relative;
    transition: 0.5s;
    cursor: context-menu;
}

.home-head h1:hover{
    -webkit-text-stroke: 2px #ffa600;
    color: transparent;
}

.hot-song{
    display: flex;
    margin-top: 60px;
    /* margin-bottom: 300px; */
    margin-left: 20px;
    margin-bottom: 50px;
    color: white;
    transition: .3s;
}

.hot-song h2:hover{
    -webkit-text-stroke: 2px;
    cursor: context-menu;
}


/* songs palylist */

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: 500ms linear;
}

.container .music-player:hover{
    transform: scale(1.1);
}


.music-player{
    width: 350px;
    height: 350px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    text-align: center;
    margin: 10px;
}


.song-img{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgba(225, 26, 26, 0.22);
}

.music-player h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.music-player p{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

#progress{
    -webkit-appearance: none;
     width: 60%;
     height: 4px;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 53%, rgba(9,77,121,1) 100%);
     border-radius: 4px;
     cursor: pointer;
     margin-top: 30px;
 }

 #progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 53%, rgba(9,77,121,1) 100%);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(225, 26, 26, 0.22);
 }

 #prgs{
    -webkit-appearance: none;
    width: 60%;
    height: 4px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 53%, rgba(9,77,121,1) 100%);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
 }

 #prgs::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 53%, rgba(9,77,121,1) 100%);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(225, 26, 26, 0.22);
 }

 .control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.control div{
    width: 30px;
    height: 30px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(2,0,36);
    box-shadow: 0 10px 20px rgba(225, 26, 26, 0.22);
    cursor: pointer;
}

.control div:nth-child(2){
    transform: scale(1.5);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 53%, rgba(9,77,121,1) 100%);
    color: #fff;
}

    /* slider */

.slide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-left: 7%; */
    height: auto;
    width: 100%;
    margin-top: 5%;
    /* margin-bottom: 15%; */
 }

 .artst-img{
    display: flex;
    margin-top: 10%;
    margin-left: 3%;
    margin-bottom: 50px;
    color: white;
    transition: .3s;
}

.artst-img h2:hover{
    -webkit-text-stroke: 2px;
    cursor: context-menu;
}


/* footer */

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
  }
  footer {
    background-color: #121315;
    color: #ffffff;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 2em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: #bdbdbd;
    font-size: 1.6em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  ul li a:hover {
    color: #8f2aed;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  #button{
    font-size: 1em;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  #button {
    background-color: #bdbdbd;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i:hover {
    color: #8f2aed;
  }
  .row.secondary {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    /* justify-content: space-around;*/
  }
  .row.secondary i {
    font-size: 1.8em;
    color: #bdbdbd;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 100%;
  }
  .row.secondary div:hover {
    background-color: #25262e;
  }
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: center;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .row.secondary {
      flex-direction: column;
    }
  }
  
